<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Mail Quota Count</name>
    <version>120</version>
    <defaultcat>Advanced</defaultcat>
    <desc>Makes Mail Box usage count as the general Disk Quota for that Account.</desc>
    <authorname>António Pinto</authorname>
    <authoremail>apinto@vanguardly.com</authoremail>
    <authorurl>http://vanguardly.com/</authorurl>
    <updateurl>http://store.sentora.org/version.xml</updateurl>
</module>